.galleryImage {
  position: relative;
  margin: 10px;
  min-width: 310px -60px;
  max-width: 310px;
  width: 100%;
  color: #ffffff;
  text-align: left;
  background-color: #000000;
  font-size: 16px;
}
.galleryImage * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}
.galleryImage img {
  position: relative;
  max-width: 100%;
  vertical-align: top;
}
.galleryImage figcaption {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  padding: 20px 30px;
}
.galleryImage figcaption:before,
.galleryImage figcaption:after {
  width: 1px;
  height: 0;
}
.galleryImage figcaption:before {
  right: 0;
  top: 0;
}
.galleryImage figcaption:after {
  left: 0;
  bottom: 0;
}
.galleryImage h3,
.galleryImage p {
  line-height: 1.5em;
}
.galleryImage h3 {
  margin: 0 0 5px;
  font-weight: 700;
  text-transform: uppercase;
}
.galleryImage p {
  font-size: 0.8em;
  font-weight: 500;
  margin: 0 0 15px;
}
.galleryImage a {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
.galleryImage:before,
.galleryImage:after,
.galleryImage figcaption:before,
.galleryImage figcaption:after {
  position: absolute;
  content: '';
  background-color: #ffffff;
  z-index: 1;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  opacity: 0.8;
}
.galleryImage:before,
.galleryImage:after {
  height: 1px;
  width: 0%;
}
.galleryImage:before {
  top: 0;
  left: 0;
}
.galleryImage:after {
  bottom: 0;
  right: 0;
}
.galleryImage:hover img,
.galleryImage.hover img {
  opacity: 0.4;
}
.galleryImage:hover figcaption,
.galleryImage.hover figcaption {
  opacity: 1;
}
.galleryImage:hover figcaption:before,
.galleryImage.hover figcaption:before,
.galleryImage:hover figcaption:after,
.galleryImage.hover figcaption:after {
  height: 100%;
}
.galleryImage:hover:before,
.galleryImage.hover:before,
.galleryImage:hover:after,
.galleryImage.hover:after {
  width: 100%;
}
.galleryImage:hover:before,
.galleryImage.hover:before,
.galleryImage:hover:after,
.galleryImage.hover:after,
.galleryImage:hover figcaption:before,
.galleryImage.hover figcaption:before,
.galleryImage:hover figcaption:after,
.galleryImage.hover figcaption:after {
  opacity: 0.1;
}
